.welcome {
    position: relative;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    max-height: 200px;
    overflow: hidden;
    font-size: 7em;
}

#title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-wrap: nowrap;
}

.banner {
    width: 100%;
    margin-top: -2%;
}

@media only screen and (max-width: 1000px) {
	#title {
        transform: translate(-50%, -50%) scale(.4);
	}
}